

body {
  background-color: #282c341c;
}


.vacancy:hover{
  background-color: #f3efef;
}

.vacancy p {
  font-weight: 500;
}


.top-container {
  display: flex;
}


.heading {
  position: fixed;
  padding-bottom: 1em;
}



.vacancy-item button {
  padding: 0.4em;
  margin: 0.1em;
  border-radius: 5px;
  border: none;
}


.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  justify-content: space-around;
}

.navbar-right p {
  margin-right: 1em;
}

.top-nav {
  background-color: #20242b;
  left: 20%;
}

@media (max-width : 600px) {

  .vacancy-list {
    margin-top: 6em;
  }

  .top-nav {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;

    padding: 0.1em;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-search {
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 0.3em;
    margin-top: 0.5em;
  }

  .navbar-search input {
    max-width: 10em;
    margin-top: 1px;
    margin-bottom: 1em;
    padding: 0.4em;
    border-radius: 4px;

  }

  .blog-post {
    background-color: white;
    padding: 1em;
    color: rgb(46, 45, 45);
    margin-top: 7em;
    border-radius: 0.2em;
  }
  
}

@media (min-width: 601px) {

  .top-nav {
    position: fixed;
    top:0;
    display: flex;
  }

  .navbar-nav {
    display: flex;
  }

  .nav-item {
    margin-left: 0.8em;
    margin-top: 0.2em;
    border-radius: 1em;
  }

  .blog-posts {
    margin-top: 6em;
    margin-left: 5em;
    margin-right: 5em;
  }

  .blog-post {
    background-color: white;
    padding: 1em;
    color: rgb(46, 45, 45);
    margin: 2em;
    border-radius: 0.2em;
  }
  
}

.blog-post img {
  width: 2em;
}


.search-box{
  padding-left: 1em;
  text-align: center;
  border-image: url("../src/img/search.png");
}

.navbar-search img {
  width: 1.5em;
  margin-top: 0.6em;
  margin-left: 1em;
}


.nav-item img {
  height: 1.5rem;
  margin-top: 0.6em;
}

.nav-item {
  color: white;

  cursor: pointer;


  padding: 0.2em;
  height: 2em;
  display: flex;
  padding-bottom: 0.5em;
}

.nav-item p {
  margin-bottom: 0.2em;
}

.container {
  position: fixed;
  left: 0%;
  right: 0%;
  background-color: rgb(255, 255, 255);
}

.nav-item:hover{
  color: white;
  border-bottom: 1px solid white;
  border-radius: 2px;
}

.search-box {
  outline: none;
  border: none;
  margin: 1em;
  padding: 0.7em;

  color: black;
  font-weight: bold;

  border-radius: 0.5em;
}

.navbar-search input {
  background-color: white;
}

